<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA94QXbzNjLe0gvNADmrtjVhizSmVnyimM</string>
	<key>GCM_SENDER_ID</key>
	<string>741727856504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoC10Monday</string>
	<key>PROJECT_ID</key>
	<string>todo-c10-monday</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-c10-monday.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741727856504:ios:78402c0c214faad53f0a8d</string>
</dict>
</plist>